<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<title>PayMyBuddy</title>
</head>	
<body>
	<header>
		<h1>Pay My Buddy</h1>
		<a href="/login">Se connecter</a>
		<a href="/register">S'inscrire</a>
	</header>
	<main>
		<div class="logoBox">
			<img src="https://user.oc-static.com/upload/2024/05/20/17162226887581_P6-01_Pay%20My%20Buddy.png" alt="logo">
		</div>
	</main>
	<footer>
		<p>2025</p>
	</footer>
</body>
</html>
