<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<title>Se connecter</title>
</head>

<body>
	<header>
		<div class="headerBox">
			<h1>Pay My Buddy</h1>
			<nav class="navigationBox">
				<a href="/register">S'inscrire</a>
			</nav>
		</div>
	</header>
	<main>
		<div class="formBox">
			<h2>Pay My Buddy</h2>
			<form class="formLog" th:action="@{/login}" method="post">
				<div>
					<label for="email"></label>
					<input class="inputStyle" type="text" id="email" name="email" placeholder="Mail" required />
				</div>
				<div>
					<label for="password"></label>
					<input class="inputStyle" type="password" id="password" name="password" placeholder="Mot de passe"
						required />
				</div>
				<div>
					<button class="btn" type="submit">Se connecter</button>
				</div>
				<div th:if="${loginError}">
					<p class="errorMessage">Identifiants invalides</p>
				</div>
			</form>
		</div>
	</main>
	<footer>
		<p>2025</p>
	</footer>
</body>

</html>